body{
    background: cadetblue;
    text-align: center;
    font-family: 'Trebuchet MS'; /* Tipo da letra*/
}
h1{
    color: blueviolet;
    text-transform: uppercase;  /* Deixa a letra em maiusculo*/
    font-family: Arial black;
    letter-spacing: 3px;
}

h1:hover{ /* quando você passa em cima do titulo ele muda de cor para amarelo omo esr ali em baixo */
    color: goldenrod;
    cursor: crosshair;

}
input{
    border: 1px solid #ececec;
    border-radius: 3px;
    margin: 3px;
    font-size: 16px;


}
button{
    border: 0;
    background-color: tomato;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    margin: 10px;
    cursor: pointer;
}

h3{
    background-color: yellow;
}

span{
    color: red;
}
button:hover{
    border: 1px solid tomato;
    background-color: white;
    color: tomato;
}